extends default

block content

	div.container

		p.bookLink
			a(href="index")
				| (HOME)
		br

		img.bigBook(src=("/images/" + book.imgSrc))

		p.bookFirstLine
			|	#{book.firstline}

		p.bookSummary
			| #{book.summary}
